body {
  font-family: Roboto;
}
.container {
  padding-top:20px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-dark{
  background-color: #DAE8FC!important;
  border-radius: 5px;
}
.bg-dark a{
  color: #888;
  font-family: Roboto;
  font-size: 16px;
}
.navbar-menu {
  margin-left:0px;
}
.bg-dark a:hover{
  color: #333;
}
.navbar-logo {
  position:absolute;
  margin-left:-30px;
  margin-top:-40px;
  width: 65px;
}
button {
  border: 1px solid #7EA6E0;
  background-color: #DAE8FC;
  color: #7EA6E0;
  font-family: Roboto;
  font-size: 10pt;
  padding: 8px;
  border-radius: 5px;
}
.form-control {
  font-size:14px;
  border-radius: 5px;
}
.navbar-right {
  padding-right:0px;
}
.cart-items {
  position: absolute;
  margin-top:-28px;
  margin-left: 10px;
  font-size: 9px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  border: 0px solid #888;
  border-radius: 5px;
  background-color: #888;
  color: #FFF;
}
.products {
  width: 100%;
  padding-bottom:50px;
  padding-left: 45px;
}
.product-info {
  width:200px;
}
.product-info .product-name {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.product-info .product-price {
  font-size: 14px;
  font-weight: bold;
  float: right;
}
.product-info .description {
  font-size: 14px;
  height: 45px;
}
.button-addtocart {
  float: right;
  border: 1px solid #7EA6E0;
  background-color: #7EA6E0;
  color: #FFFFFF;
}
.button-moreinfo {
  border: 1px solid #7EA6E0;
  background-color: #FFFFFF;
  color: #7EA6E0;
}
.button-addtocart:hover {
  float: right;
  border: 1px solid #7EA6E0;
  background-color: #888888;
  color: #FFFFFF;
}
.button-moreinfo:hover {
  border: 1px solid #7EA6E0;
  background-color: #888888;
  color: #FFFFFF;
}
.navbar-dropdown {
  padding-top:10px;
  height:46px;
  -moz-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  width: 200px;
}
.navbar-dropdown:hover {
  background-color: #DAE8FC;
}
.container .footer-block {
  background-color: #E6E6E6;
  min-height: 190px;
  border-radius: 5px;
  font-size: 12px;
}
.container .footer-block .footer-social-icon {
  font-size: 14px;
  margin-right: 5px;
}
.container .footer-block .row {
  padding-top: 35px;
}
.container .footer-block .row h6 {
  font-size:13px;
}
.container .footer-copyright {
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px;
}